/*機能*/
html,
body {
  height: 100%;
}
body {
  margin: 0;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.navbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-toggler {
  border: 0 !important;
  box-shadow: none !important;
}

.navbar .nav-link {
  padding: 8px 16px;
}

.navbar-brand {
  font-weight: 600;
}
.navbar {
  width: 100%;
}
.url-label {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  margin-top: 15px;
}
.grade-row {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 10px;
}
label.bg-color-label {
  display: flex;
  justify-content: space-between; /* 左右に分ける */
  align-items: center; /* 垂直中央揃え */
  width: 180x; /* 必要に応じてラベル幅を調整 */
}
.logo-up-label {
  margin-top: 20px;
  padding: 0 0 0 0px;
}
#download {
  margin-top: 10px;
}
#qrcode {
  margin-top: 10px;
  width: 150px;
  height: 150px;
}
#qrcode canvas,
#qrcode img {
  width: 100%;
  height: 100%;
}
/*機能ここまで*/

#generate {
  font-size: 15px;
  font-weight: 800;
  position: relative;
  border: none;
  background: none;
}
#download {
  font-size: 15px;
  font-weight: 800;
  border: none;
  background: none;
  position: relative;
  cursor: pointer;
}
#generate::after,
#download::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s ease, left 0.3s ease;
}

/* hover時 */
#generate:hover::after,
#download:hover::after {
  width: 100%;
  left: 0;
}

#logoUpload {
  font-size: 15px;

  position: relative;
  border: none;
  background: none;
}

input[type="file"] {
  display: none;
}
#color1 {
  border: none;
  background: none;
}

#color2 {
  border: none;
  background: none;
}

#bgColor {
  border: none;
  background: none;
}

.back-footer {
  margin-top: 20px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.back-link {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.05em;
  padding-bottom: 4px;
}
